[submodule "eigen-git-mirror"]
	path = third_party/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
